.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer-logo-box {
  margin-right: 120px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
  width: 264px;
}

.footer-social-box {
  margin-right: 80px;
}

.footer-social-title {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-input {
  background-color: transparent;
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-input::placeholder {
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-subscribe-box button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  min-height: 40px;
  padding: 8px 24px;
}

.footer-mail-icon {
  fill: #fff;
  margin-left: 16px;
}
